<style>

    #donateArea {
        position: absolute;
        height: 90px;
        width: 250px;
        top: 105px;
        left: 0px;
        z-index: 2;
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-color: gray;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        overflow: scroll;
        color: white;
        transition-property: all;
        transition-duration: 0.5s;
    }
    
    #label_amount_of_money {
        position: absolute; 
        top: 10px; 
        left: 0px; 
        width: 130px;
    }
    
    #input_amount_of_money {
        position: absolute; 
        color: black;
        top: 40px; 
        left: 0px; 
        width: 100px;
        opacity: 0.7;
        transition-property: all;
        transition-duration: 0.5s;
    }
    
    #input_amount_of_money:hover {
        color: #1ab7ea;
        opacity: 1;
    }
    
    #paypal_content {
        position: absolute;
        top: 38px;
        left: 110px;
    }
    
</style>

<label id="label_amount_of_money">Amount to donate: </label>
<input id="input_amount_of_money" type=number size="2" placeholder="0"/>


<div id="paypal_content">
    {{ include('@Paypal/Default/index.html.twig') }}
</div>

<div>
    {{ include('@Video/Default/score.html.twig') }}
</div>

<script>

    var displaceToRight = document.getElementById("displaceToRight");
    displaceToRight.addEventListener("click", displayDonateArea, false);
    var statusDonateArea = 0;

    function displayDonateArea()
    {
        var donateArea = document.getElementById("donateArea");

        if (statusDonateArea === 0)
        { {#alert("0");#}
            donateArea.style.width = "250px";
            donateArea.style.height = "90px";
            statusDonateArea = 1;
        } else
        { {#alert("1");#}
            donateArea.style.width = "0px";
            donateArea.style.height = "0px";
            statusDonateArea = 0;
        }
    }
    
    
</script>

