
{#<div id="closedCaptionDiv">
    <input type="text" id="closedCaptionInput" placeholder="closed caption content"/>
</div>#}


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div class="row clearfix">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- Pega aqui tu contenido -->



                <div class="row clearfix">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                        <div class="card">

                           

                            <div class="block-header" style="padding: 20px;margin: 0px;">

                                <h2 style="font-size: 24px;font-weight: bold;">

                                    1 token = 0.05$$

                                </h2>

                                <input type="number" id="tokensAmountInput" placeholder="tokens amount"/>
                                <h2 style="font-size: 24px;font-weight: bold;">tokens amount</h2>

                                {#                <input type="number" id="dollarsValueInput" placeholder="dollars value"/>#}
                                <h2 style="font-size: 24px;font-weight: bold;">dollars value</h2>

                                {#<select id='branchCountry_uploadBranchSelect' name='branchCountry_uploadBranchSelect' onchange='getBranchCity();'>
                                    <option id='branchCity_uploadBranchSelect" + i + "' name='branchCity_uploadBranchSelect" + i + "' value="countryName">
                                    </option>
                                </select>#}
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Countries</label>
                                    <select multiple class="form-control" id="exampleFormControlSelect2">
                                        <option>
                                        <img class="shortIcon" 
                                             src="files/images/icons/mexico.png" alt="Mountain View">
                                        mexico</option>
                                        <option>usa</option>
                                        <option>colombia</option>
                                        <option>italia</option>
                                        <option>francia</option>
                                    </select>
                                </div>


                            </div>



                        </div>

                    </div>

                </div>



            </div>
        </div>
    </div>
</div>